# 忽略 Visual Studio 临时文件
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*/
.vs/

# 忽略用户特定文件
*.user
*.suo
*.userprefs

# 忽略编译生成的文件
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.nupkg

# 忽略 NuGet 包和缓存
[Nn]u[Gg]et/
[Nn]u[Gg]et.[Pp]ackages/
packages/

# 忽略日志文件
*.log
*.log*

# 忽略 ReSharper 文件
_ReSharper.*
*.ReSharper

# 忽略 Visual Studio Code 文件
.vscode/

# 忽略其他临时文件
*.tmp
*.temp
*.bak
*.swp
*.swo

# 忽略项目特定文件
*.csproj.user
*.vbproj.user
/FocusWrite/FocusWrite/Properties
